// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

.pgn__header {
    background-color: #ffffff;
    border-bottom: 1px solid #9b9595;

    .navbar-nav .nav-link {
        color: #000000;
        font-family: 'Inter', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;
        font-weight: 500;

        &:hover,
        &:focus,
        &.active {
            color: #000000;
            border-bottom: 2px solid #3494c8;
        }
    }
}

.pgn__footer {
    background-color: #ffffff;
    border-top: 1px solid #9b9595;
    color: #374151;

    a {
        color: #374151;

        &:hover {
            color: #000000;
        }
    }
}

.btn-primary {
    background-color: #3494c8;
    border-color: #3494c8;

    &:hover,
    &:focus {
        background-color: darken(#3494c8, 10%);
        border-color: darken(#3494c8, 10%);
    }
}

body {
    //background-color: #3cff00 !important;
    //next lines copied from medlib.ru
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    //color: rgb(51, 51, 51);
    color: #beefdead;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-width: 1000px;
    outline-color: rgb(51, 51, 51);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px
}

p.footer-text:nth-of-type(1) {
    visibility: collapse;
    text-align: left;
}

p.footer-text:nth-of-type(1)::before {
  content: '© МИА. Все права защищены. 2025';
  visibility: visible;
  //display: block;
  font-family: 'PT Sans', "Helvetica", "Arial", "Calibri", _sans;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  line-height: 1.42857143;
  color: #333;
}

h2.course-list-title {
    //as is from medlib.ru
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgb(51, 174, 178);
    display: block;
    font-family: "PT Sans", "Helvetica", "Arial", "Calibri", _sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(51, 174, 178);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-decoration-color: rgb(51, 174, 178);
    text-decoration-line: underline; 
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-transform: uppercase
}

a.btn-brand:focus::before,button.btn-brand:focus::before {
    border: 2px solid #268183;;
    border-top-color: #268183;
    border-left-color: #268183;
    border-bottom-color: #268183;
    border-right-color: #268183;
}

.btn-brand:active {
    background: #268183;
    background-color: #268183;
    border-color: #268183;
}

.btn-brand:not(:disabled, .disabled):active {
    background: #268183;
    background-color: #268183;
    border-color: #268183;
}

a.btn-brand:hover,button.btn-brand:hover {
    background: #268183
}

button.btn-brand:disabled {
    //background-color: rgb(59, 175, 178);
    background: rgb(59, 175, 178);
}



a.btn-brand,button.btn-brand {
    appearance: button;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(59, 175, 178);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "PT Sans", "Helvetica", "Arial", "Calibri", _sans;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-emoji: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-variation-settings: normal;
    font-weight: 700;
    height: 37px;
    line-height: 20px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    outline-width: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    text-transform: none;
    //width: 90px
}

#looking-for-challenge-widget {
        visibility: collapse;  
}

#form-field1 {
    height: 37px;
}

.btn-outline-primary {
    border-color:rgb(59, 175, 178);
    color:rgb(59, 175, 178);
    height: 37px;
    font-family: "PT Sans", "Helvetica", "Arial", "Calibri", _sans;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 700;
}


.btn-outline-primary:not(:disabled, .disabled):active {
    border-color:#268183;
    color:#268183;
}

.btn-outline-primary:active { //probably useless
    border-color:#268183;
    color:#268183;
}

.btn-outline-primary:focus {
    border: 2px solid #268183;
}

.btn-outline-primary:hover {
    border-color:#268183;
    color:#268183;
}

.btn-outline-primary:disabled {
    border-color:rgb(59, 175, 178);
    color:rgb(59, 175, 178);
}

.nav-link.active {
    background: rgb(59, 175, 178);
    background-color: rgb(59, 175, 178);
    //--pgn-color-primary-500: rgb(59, 175, 178);
    //--pgn-color-primary-base: rgb(59, 175, 178);
}

.nav-link:hover {
    background: #268183;
    background-color: #268183;
}

input.form-field1 {
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'PT Sans', "Helvetica", "Arial", "Calibri", _sans;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    font-size: 14px;
}

a.dropdown-item {
    font-family: "PT Sans", "Helvetica", "Arial", "Calibri", _sans;    
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 700;
}

a.dropdown-item:hover {
    background: #3db0b4;
}

label.pgn__form-control-floating-label-text {
    font-family: 'PT Sans', "Helvetica", "Arial", "Calibri", _sans;
    font-size: 14px;
    color: #555;
}


.pgn__icon {
    visibility: visible;   
}

#masquerade-form-label {
    font-family: "PT Sans", "Helvetica", "Arial", "Calibri", _sans;    
    visibility: hidden; 
}

#masquerade-form-label::before {
    font-family: "PT Sans", "Helvetica", "Arial", "Calibri", _sans;    
    content: 'Просмотр от имени пользователя:';
    visibility: visible;   
}